.refresh-button{
    margin-right:10px;
}

.header{
    display:flex;
    justify-content: flex-end;
    margin: 10px;
    margin-right:20px;
}

.logout-button{
    background-color: #c5610b;
    border: none;
}